body {
  margin: auto;
  padding: 20;
  box-sizing: border-box;
}

.image {
  display: block;
  width: 97%;
}
.btn-class {
  text-align: center;
  align-items: center;
}

.image-detail img {
  width: 80%;
  height: 80%;
}
